.calculator{
    width: 23%;
   
    margin: auto;
}
.btns{
    display: flex;
    flex-wrap: wrap;
}
.btns > button{
    width: 70px;
    height: 70px;
    background-color: rgb(126, 160, 126);
    border:1px solid black;
}
#input{
    width: 81%;
    margin-top: 0.2rem;
    padding: 20px;
    background-color:rgb(46, 45, 45);
    border: 1px solid rgb(46, 45, 45) ;
    color: white;
}
h1{
    text-align: center;
}